*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

/* ===================================================================================================================================== */
/*                                                        div > class > card   Start                                                     */
.card{
    height: 450px;
    width: 380px;
    margin: 100px auto;
    padding: 20px 20px 20px 20px;
    background-color: blue;
    box-shadow: 0 0 20px 3px red;
}
/*                                                        div > class > card   End                                                       */
/* ===================================================================================================================================== */





/* ===================================================================================================================================== */
/*                                                        img    Start                                                                   */
.img:hover{
    background-color: red;
    height: 149px;
    width: 338px;
}
/*                                                        img      End                                                                   */
/* ===================================================================================================================================== */




/* ===================================================================================================================================== */
/*                                                        h3      Start                                                                  */
h3{
    position: relative;
    bottom: 140px;
    padding: 5px;
    left: 265px;
    color: white;
    background-color: red;
    display: inline-block;
    border-radius: 1px;
}
/*                                                        h3       End                                                                   */
/* ===================================================================================================================================== */



/* ===================================================================================================================================== */
/*                                                        h2      Start                                                                  */
h2{
    text-align: center;
    color: white;
}
/*                                                         h3     End                                                       */
/* ===================================================================================================================================== */





/* ===================================================================================================================================== */
/*                                                         p      Start                                                                  */
p{
    text-align: center;
    color: white;
    letter-spacing: 1px;
    margin: 15px 0 0 0;
    font-family: 'Times New Roman', Times, serif;
}
/*                                                          p      Start                                                                */
/* ===================================================================================================================================== */




/* ===================================================================================================================================== */
/*                                                        div > card-one Start                                                           */
.card-one{
    background-color: white;
    width: 190px;
    height: 450px;
    border: 1px solid black;
    position: relative;
    bottom: 550px;
    left: 424px;
    opacity: .2;
}
/*                                                        div > card-one End                                                            */
/* ===================================================================================================================================== */