body {
    display: flex;
    justify-content: center;
    margin: 150px 0 0 0;
}
input {
    border-radius: 40px;
    outline: none;
    text-indent: 10px;
    margin: 100px 0 0 0;
    height: 60px;
    width: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 2px solid white;
    background-color: blue;
    color: white;
    position: relative;
    transition: all 0.7s ease-in;
}
input:hover {
    height: 60px;
    width: 300px;

}
::placeholder {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    position: absolute;
    left: -3px;
    letter-spacing: 1px;
    bottom: 22px;
}
.fa-search {
    position: absolute;
    top: 125px;
    left: 265px;
    color: white;
    font-size: 20px;
}
::placeholder:hover {
    color: white;
}
.container {
    position: relative;
}